<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pokorabi</title>
  </head>
  <body>
    <h1>Welcome to Pokorabi!</h1>
    <p>
      <a href="/word">Study words</a>
    </p>
  </body>
</html>
